:root {
    --offWhite: #e7ecef;
    --darkBlue: #274c77;
    --blue: #6096ba;
    --lightBlue: #a3cef1;
    --gray: #8b8c89;
    --halfBlack: rgba(0, 0, 0, 0.5)
}

.hamburgerMenuDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}

.hamburgerMenuExtended {
    transition: all 0.25s;
    position: fixed;
    top: 10px;
    left: 10px;
    background-color: var(--lightBlue);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.5);
}

.hamburgerMenuIcon {
    cursor: pointer;
    padding: 5px;
    filter: invert(1);
    width: 40px;
}

.dropDownMenu {
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dropDownMenuItem {
    padding: 10px;
    cursor: pointer;
}

.dropDownMenuItem:hover {
    color: white;
}