@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');

:root {
    --offWhite: #e7ecef;
    --darkBlue: #274c77;
    --blue: #6096ba;
    --lightBlue: #a3cef1;
    --gray: #8b8c89;
    --halfBlack: rgba(0, 0, 0, 0.5)
}

body {
    position: relative;
}

.bodyContainer {
    position: relative;
    min-height: 100vh;
    background-color: var(--offWhite);
    display: grid;
    grid:
        "header header" 50px
        "sidebar mainContent" 1fr
        / 1fr 4fr;
    font-family: 'Heebo', sans-serif;
}

.header {
    grid-area: header;
    z-index: 60;
    background-color: var(--blue);
    box-shadow: 0px 2px 2px 2px var(--halfBlack);
    display: flex;
    justify-content: end;
}

.hamburgerMenuIconDiv {
    height: 100%;
    display: flex;
    align-items: center;
}

.hamburgerMenuIcon {
    cursor: pointer;
    padding: 5px;
    filter: invert(1);
    max-height: 60%;
}

.sidebar {
    grid-area: sidebar;
    z-index: 50;
    background-color: var(--lightBlue);
    box-shadow: 3px 0 3px 3px var(--halfBlack);
}

.mainContent {
    grid-area: mainContent;
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr;
}