@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');

:root {
    --offWhite: #e7ecef;
    --darkBlue: #274c77;
    --blue: #6096ba;
    --lightBlue: #a3cef1;
    --gray: #8b8c89;
    --halfBlack: rgba(0, 0, 0, 0.5)
}

body {
    position: relative;
}

.bodyContainer {
    position: relative;
    min-height: 100vh;
    background-color: var(--offWhite);
    display: flex;
    font-family: 'Heebo', sans-serif;
}

.sidebar {
    flex: 0, 1, auto;
    background-color: var(--lightBlue);
    box-shadow: 3px 0 3px 3px var(--halfBlack);
}

.mainContent {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr;
}