.taskListContainer {
    padding: 10px 40px 10px 40px;
}

.taskListDiv {
    display: grid;
    padding: 5px;
}

.taskListTitleRowDiv, .taskDiv {
    display: grid;
    align-items: center;
    grid-template-columns: 0.2fr 3fr 1fr 1fr 0.5fr;
    margin: 3px;
}

.taskListTitleRowDiv {
    font-size: 2rem;
    font-weight: 700;
    color: white;
}

.taskDiv {
    background-color: var(--offWhite);
    border-radius: 5px;
    box-shadow: 0 0 2px 2px var(--halfBlack);
    padding: 20px 0 20px;
} 

.taskProjectDiv, .taskDateDiv, .taskListColumnTitle-Project, .taskListColumnTitle-Date {
    text-align: center;
}

.taskListColumnTitle-Task, .taskTitleDiv {
    padding-left: 20px;
}

.taskDiv:hover {
  box-shadow: 0 0 2px 2px white;
  border: 1px solid black;
}

.downArrowIcon {
  cursor: pointer;
  width: 30px;
  padding: 3px;
}

.downArrowIcon:hover {
  transition: all 0.2s;
  transform: scale(1.1);
}

.taskDivExtended .taskDescriptionDiv {
  display: block;
  margin: 5px;
}

.taskDivExtended .taskTitleDiv {
  font-weight: 700;
  margin: 5px;
}
  

.taskDetailsDiv {
  display: flex;
  flex-direction: column;
}

.taskDescriptionDiv {
  display: none;
  padding-left: 40px;
}

.pastDue {
    background: linear-gradient(white, white, white, white, white, white, white, white, red)
}

.taskButtonsDiv {
    padding-right: 20px;
    justify-self: end;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.taskButtonsDiv > div {
    width: 30px;
}

.taskButtonsDiv>div:hover {
    cursor: pointer;
    transition: all 0.1s;
    filter: saturate(1000%);
    scale: 1.1 1.1;
}